.hold {
    width: 4rem;
    height: 4rem;
    background-color: yellow;
}

.possible-move{
    border: solid .1rem white;
    width: 4rem;
    height: 4rem;
    background-image: radial-gradient(circle, gray 0%, gray 29%, transparent 30%, transparent 100%);
}

.kill-move{
    border: solid .1rem white;
    width: 4rem;
    height: 4rem;
    border: solid .2rem red;
}

.possible-move:hover{
    background-image: radial-gradient(circle, gray 0%, gray 39%, transparent 40%, transparent 100%);
}

.wrong-move {
    width: 4rem;
    height: 4rem;
    background-color: indianred;
}

.check-move {
    width: 4rem;
    height: 4rem;
    background-color: orangered;
}

.checkmate-move {
    width: 4rem;
    height: 4rem;
    background-color: darkred;
}
