*, *::before, *::after{
    box-sizing: border-box;
    color: black;
    font-size: 16px;
}

html {
    font-family: monospace, sans-serif, system-ui, serif;
    font-variant-ligatures: common-ligatures;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 32rem;
    height: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: azure;
    color: darkslategrey;
    font-weight: lighter;
    margin-inline: auto;
}
.history > p {
    word-wrap: break-word;
    border-bottom: solid .15rem;
}

.black-kill,
.white-kill{
    display: grid;
    grid: 2rem / 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem 2rem;
    grid-column-gap: .14rem;
    height: 2rem;
    width: 32rem;
    background-color: antiquewhite;
}

.eat {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: rgba(200, 200, 200, .6);
}

.background {
    display: flex;
    flex-direction: column;
    background: gray;
    width: 50rem;
    height: 50rem;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.board {
    display: grid;
    grid: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem / 32rem;
    width: 32rem;
    height: 32rem;
}
.line-odd, .line-even {
    display: grid;
    grid: 4rem / 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
    justify-content: center;
    align-items: center;
}
.line-odd > .cell:nth-child(even),
.line-even > .cell:nth-child(odd) {
    background-color: limegreen;
    color: white;
}

.line-odd > .cell:nth-child(odd),
.line-even > .cell:nth-child(even) {
    background-color: wheat;
    color: black;
}

.cell {
    width: 4rem;
    height: 4rem;
}

.pawn-white,
.pawn-black, 
.bishop-white,
.bishop-black,
.knight-white,
.knight-black, 
.rook-white,
.rook-black,
.queen-white,
.queen-black, 
.king-white,
.king-black {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.pawn-white:hover,
.pawn-black:hover, 
.bishop-white:hover,
.bishop-black:hover,
.knight-white:hover,
.knight-black:hover,
.rook-white:hover,
.rook-black:hover,
.queen-white:hover,
.queen-black:hover, 
.king-white:hover,
.king-black:hover {
    outline: solid .2rem white;
    z-index: 10;
} 

.pawn-white {
    background-image: url("./assets/models/extends/lucas312/pawn.png");
}

.pawn-black {
    background-image: url("./assets/models/extends/lucas312/pawn1.png");
}

.bishop-white {
    background-image: url("./assets/models/extends/lucas312/bishop.png");
}

.bishop-black {
    background-image: url("./assets/models/extends/lucas312/bishop1.png");
}

.knight-white {
    background-image: url("./assets/models/extends/lucas312/knight.png");
}

.knight-black {
    background-image: url("./assets/models/extends/lucas312/knight1.png");
}

.rook-white {
    background-image: url("./assets/models/extends/lucas312/rook.png");
}

.rook-black {
    background-image: url("./assets/models/extends/lucas312/rook1.png");
}

.queen-white {
    background-image: url("./assets/models/extends/lucas312/queen.png");
}

.queen-black {
    background-image: url("./assets/models/extends/lucas312/queen1.png");
}

.king-white {
    background-image: url("./assets/models/extends/lucas312/king.png");
}

.king-black {
    background-image: url("./assets/models/extends/lucas312/king1.png");
}

#a8::before,
#a7::before,
#a6::before,
#a5::before,
#a4::before,
#a3::before,
#a2::before,
#a1::before {
    color: inherit;
    position: absolute;
    display: block;
}

#a1::before {
    content: "1";
}

#a2::before {
    content: "2";
}

#a3::before {
    content: "3";
}

#a4::before {
    content: "4";
}

#a5::before {
    content: "5";
}

#a6::before {
    content: "6";
}

#a7::before {
    content: "7";
}

#a8::before {
    content: "8";
}

#a1::after,
#b1::after,
#c1::after,
#d1::after,
#e1::after,
#f1::after,
#g1::after,
#h1::after {
    color: inherit;
    display: block;
    position: absolute;
    margin-left: 3.2rem;
    margin-top: 2.8rem;
}

#h1::after {
    content: "h";
}

#g1::after {
    content: "g";
}

#f1::after {
    content: "f";
}

#e1::after {
    content: "e";
}

#d1::after {
    content: "d";
}

#c1::after {
    content: "c";
}

#b1::after {
    content: "b";
}

#a1::after {
    content: "a";
}
